<footer class="footer">
		<section class="top_footer">
			<ul class="">
				<li class=""><a href="views/cgu.html">{{'footer.cgv' | translate}}</a></li>
				<li class=""><a href="views/cgu.html">{{'footer.cgu' | translate}}</a></li>
				<!-- <li class=""><a href=""></a></li>
				<li class=""><a href=""></a></li>
				<li class=""><a href=""></a></li>
				<li class=""><a href=""></a></li> -->
			</ul>
		</section>
		<section class="bottom_footer">
			<ul class="">
				<li class=""><span class="">FuriousDucks 2017</span></li>
			</ul>
		</section>
	</footer>