<app-header></app-header>
<section class="container-body">
	<section class="about">
		<section class="infos_agence">
			<article class="">
				<p>Depuis 2004, <a [routerLink]="['']">SO'Extrême</a> est le spécialiste des sensations fortes.</p>
				<p>Que ce soit pour se faire un petit frisson ou pour offrir un coffret cadeau à un proche.</p>
				<p><a [routerLink]="['']">SO'Extrême</a> s'efforce de vous proposer une multitude d'activités au meilleur prix.</p>
				<ul>
					<li><i class="fa fa-circle"></i> saut en parachute,</li>
					<li><i class="fa fa-circle"></i> saut à l'élastique,</li>
					<li><i class="fa fa-circle"></i> rafting</li>
					<li><i class="fa fa-circle"></i> canoë kayak ...</li>
				</ul>     

			</article>
		</section>
		<app-gmap-apropos></app-gmap-apropos>
		<section class="infos_agence">
			<ul class="">
				<li class="">
					<span class="">
						<span>
							<i class="fa fa-map-marker"></i>
							 Localisation :
						</span> 
						Gorges du Verdon(Alpes Haut Provence)
					</span>
				</li>
				<li class="">
					<span class="">
						<span>
							<i class="fa fa-building"></i>
							Siège social :
						</span>
						 route de Napoléon, CASTELLANE 04120
					</span>
				</li>
				<li class=""><span class="">SARL au capital social de 30 000€</span></li>
			</ul>
		</section>
	</section>
</section>
<app-footer></app-footer>