<app-header></app-header>
<section class="container-body">
	<section class="about">
		<section class="infos_agence">
			<article class="">
				Depuis 2004, SO'Extrême est le spécialiste des sensations fortes. Que ce soit pour se faire un petit frisson ou pour offrir un coffret cadeau à un proche. SO'Extrême s'efforce de vous proposer une multitude d'activités au meilleur prix. Saut en parachute, saut à l'élastique, rafting, canoë kayak ...

			</article>
		</section>
		<app-gmap-apropos></app-gmap-apropos>
		<section class="infos_agence">
			<ul class="">
				<li class=""><span class="">Localisation : Gorges du Verdon(Alpes Haut Provence)</span></li>
				<li class=""><span class="">Siège social : route de Napoléon, CASTELLANE 04120</span></li>
				<li class=""><span class="">SARL au capital social de 30 000€</span></li>
			</ul>
		</section>
	</section>
</section>
<app-footer></app-footer>