<app-header></app-header>
<section class="container-body admin">
<app-admin-menu></app-admin-menu>


<div class="container">
  <h2>Liste des activités récentes</h2>
  <a routerLink="/admin/add-activite" class="">Ajouter une activité</a>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Activité</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i = index ; let activite of myActivities">
        <td>{{activite._id }}</td>
        <td>{{activite.type_act }}</td>
        <td>{{activite.libelle }}</td>
        <td>
          <ul>
            <li><a [routerLink]="['/activite/', activite._id]" target="_blank">Voir</a></li>
            <li><a [routerLink]="['/admin/update-activite', activite._id]">Modifier</a></li>
            <li><a confirm>Supprimer</a></li>

          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</section>

<app-footer></app-footer>
