<app-header></app-header>
		<section class="slider">
			<app-slider></app-slider>
		</section>
<section class="container-body">
		<h3 class="title">Il y aura forcément une activité parmi toutes celles que nous proposons ! Pour vous ...</h3>
		<section class="activites">
			<article class="">
				<!-- <img src="/img/parachute.jpg" alt="Saut en parachute" class=""> -->
				<img src="assets/img/parachute.jpg">
				<section class="">
					<h4 class="">Saut en parachute</h4>
				</section>
			</article>
			<article class="">
				<!-- <img src="/img/elastique.jpg" alt="Saut à l'élastique" class=""> -->
				<img src="assets/img/elastique.jpg">
				<section class="">
					<h4 class="">Saut à l'élastique</h4>
				</section>
			</article>
			<article class="">
				<!-- <img src="/img/rafting.jpg" alt="Rafting" class=""> -->
				<img src="assets/img/rafting.jpg">
				<section class="">
					<h4 class="">Rafting</h4>
				</section>
			</article>
			<article class="">
				<!-- <img src="/img/canoe-kayak.jpg" alt="Canoë kayak" class=""> -->
				<img src="assets/img/canoe-kayak.jpg">
				<section class=""><h4 class="">Canoë kayak</h4></section>
			</article>
		</section>
	</section>
<app-footer></app-footer>
